<ion-view view-title="Doctors" hide-back-button="true">

    <ion-nav-buttons side="right">
      <button class="button" ng-click=logOut()>
        Log Out
</button>
    </ion-nav-buttons>


    <ion-content>


      <label class="item item-input"><i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="searchbox.$">
    </label>

      <ion-item ng-repeat="name in user|filter:searchbox" class="item-thumbnail-left">
          <img src="img/doctor.png">
          <h2>{{name.firstName}}</h2>

          <h3>{{name.lastName}}</h3>
          <h3>{{name.officeName}}</h3>
          <h3>{{name.officeLocation}}</h3>
          <h4>{{name.website}}</h4>
          <h4>{{name.description}}</h4>


          
      </ion-item>
    </ion-content>

  </ion-view>