<ion-view view-title="Events">

  <ion-content>



    <!--    <label class="item item-input"><i class="icon ion-search placeholder-icon"></i>-->
    <!--<input type="text" placeholder="Search">-->
    <!--</label>-->

     <div id="map" data-tap-disabled="true"></div>



    <!--<div class="card-background-page">-->
    <!--  <ion-card>-->
    <!--    <img src="img/casadecera.jpg" />-->
    <!--    <div class="card-title">Event Title</div>-->
    <!--    <div class="card-subtitle">Description</div>-->
    <!--    <div class="card-price">Price</div>-->
    <!--  </ion-card>-->

    <!--  <button type="submit" class="button button-block button-balanced" ui-sref="registerEvents">Add Events </button>-->




  </ion-content>

</ion-view>
