<ion-view title="Events">


    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-camera" ng-click="upload()"></button>
    </ion-nav-buttons>

    <ion-content scroll=true>
        


        <!--</ion-item>-->
        <label class="item item-input"><i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="searchbox.$">
    </label>

        <ion-item ng-repeat="name in event|filter:searchbox" style="background-image:url(img/casadecera.jpg);background-repeat:no-repeat;background-position:right" ng-style="{'line-height': '100%'}">

            <h2>Event Details: {{name.eventName}} in {{name.location}}</h2>
            <h2>Phone Number:{{name.phoneNumber}}</h2>
            <h2>From {{name.fromDate|date:"MM/dd/yyyy"}} to {{name.toMyDate|date:"MM/dd/yyyy"}}</h2>


        </ion-item>


        

        <button type="submit" class="button button-block button-calm" ui-sref="registerEvents">Apply to Post an Event</button>
<!--<ion-infinite-scroll>-->
<!--    on-infinite="loadMoreData()"-->
<!--    distance="1%">-->
<!--  </ion-infinite-scroll>-->



    </ion-content>
</ion-view>
