<ion-view view-title="Lobby" hide-back-button="true">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="logOut()" ng-show="shouldShowButton">
        Log Out
</button>
    </ion-nav-buttons>

<ion-nav-buttons side="left">
    <a class="button button-clear button-stable" ui-sref="landing">
        Menu
      </a>
  </ion-nav-buttons>


 <ion-content class="button-clear" style="width: 100%; min-height: 120%; height: 120%;">
        <br><br>
        <ks-swiper-container initial-slide="3" speed="2000" loop="true" show-nav-buttons="false" slides-per-view="4" space-between="2" pagination-clickable="false" override-parameters="{effect: 'coverflow',coverflow: {rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows : false}}"  on-ready="onReadySwiper(swiper)">
            <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1,2,3,4,5,6,7]" style="width:100%; min-height: 90%; height: 90%;">
                <img ng-src="img/doctor.{{s}}.png" style="width: 100%; min-height: 70vh; height: 70vh;">
            </ks-swiper-slide>
        </ks-swiper-container>
    </ion-content>

    

</ion-view>