<ion-view title="Profile">


    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-camera" ng-click="upload()"></button>
    </ion-nav-buttons>
    <ion-content scroll=true>
        <div class="row row-center">
            <div class="col text-center">
                <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
                <img ng-show="imgURI === undefined" src="img/doctor.png">
            </div>
        </div>
        <ion-item>
            <div class="row row-center">
                <div class="col text-center">
                    <h2>First Name: {{user.firstName}}</h2>
                    <h2>Last Name:{{user.lastName}}</h2>
                    <h2>Office Name:{{user.officeName}}</h2>
                    <h2>Office Location:{{user.officeLocation}}</h2>
                    <h2>Website:{{user.website}}</h2>
                    <h2>Description:{{user.description}}</h2>

               
            <button class="button button-block button-energized" ng-click="modal.show()">
    Edit
</button>
 </div>
            </div>







    </ion-content>
</ion-view>
