<ion-view view-title="Register">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-camera" ng-click="upload()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
      <button class="button" ui-sref="tabs.events">
        Go Back
</button>
    </ion-nav-buttons>
    
    
    
    <ion-content class="padding" class="button-clear">


        <form name="signup_form" ng-submit="eventSignUp(signup_form)" class="" novalidate>

            <div class="form-fields-outer list list-inset">


                <label class="item item-input" ng-class="{ 'has-errors' : registerForm.eventName.$invalid && registerForm.$submitted}">
<input name="eventName" type="text" placeholder="Event Name" ng-model="user.eventName" required>
</label>

                <label class="item item-input" ng-class="{ 'has-errors' : registerForm.location.$invalid && registerForm.$submitted}">
<input name="location" type="text" placeholder="Location of Event" ng-model="user.location" required>
</label>

                <label class="item item-input">
<input type="number" placeholder="Person to be reached" name="phoneNumber" ng-model="user.phoneNumber" required>
</label>

<label class="item item-input" ng-class="{ 'has-errors' : registerForm.fromDate.$invalid && registerForm.$submitted}">
<span class="input-label">From Date</span>
<input type="date" ng-model="user.fromDate">
</label>

<label class="item item-input" ng-class="{ 'has-errors' : registerForm.toMyDate.$invalid && registerForm.$submitted}">
<span class="input-label" >To Date</span>
<input type="date" ng-model="user.toMyDate">
</label>
                



            <button type="submit" class="button button-block button-calm" ng-disabled="signup_form.$invalid">
Sign Up
</button>
        </form>
        </div>
        </div>
    </ion-content>
</ion-view>