<form name="registerDoctors" ng-submit="register(registerDoctors)" novalidate>

    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
        <img ng-show="imgURI === undefined" ng-src="http://placehold.it/100x100">
        <button class="button" ng-click="takePicture()">Take Picture</button>
    
    
    <label class="item item-input" ng-class="{ 'has-errors' : registerForm.firstName.$invalid && registerForm.$submitted}">
<input name="firstName" type="text" placeholder="First Name" ng-model="user.firstName" required>
</label>

    <label class="item item-input" ng-class="{ 'has-errors' : registerForm.lastName.$invalid && registerForm.$submitted}">
<input name="lastName" type="text" placeholder="Last Name" ng-model="user.lastName" required>
</label>

    <label class="item item-input" ng-class="{ 'has-errors' : registerForm.lastName.$invalid && registerForm.$submitted}">
<textarea rows="6" name="brief_intro">
   
</textarea>
</label>
    <label class="item item-input" ng-class="{ 'has-errors' : registerForm.organization.$invalid && registerForm.$submitted}">
<input name="location" type="text" placeholder="Location" ng-model="user.location" required>
</label>

    <label class="item item-input" ng-class="{ 'has-errors' : registerForm.email.$invalid && registerForm.$submitted}">
<input name="website" type="text" placeholder="Website" ng-model="user.website" required>
</label>

<!--    <label class="item item-input" ng-class="{ 'has-errors' : registerForm.password.$invalid && registerForm.$submitted}">-->
<!--<input name="password" type="password" placeholder="Password" ng-model="user.password" required>-->
<!--</label>-->


    <br>
    <button class="button button-block button-energized" type="submit">Submit! </button>




</form>