<ion-view view-title="Register">
    <ion-content class="padding" class="button-clear">
        <form name="registerDoctors" ng-submit="registerMyDoctors(registerDoctors)" novalidate>

            <label class="item item-input" ng-class="{ 'has-errors' : registerForm.firstName.$invalid && registerForm.$submitted}">
<input name="firstName" type="text" placeholder="First Name" ng-model="user.firstName" required>
</label>

            <label class="item item-input" ng-class="{ 'has-errors' : registerForm.lastName.$invalid && registerForm.$submitted}">
<input name="lastName" type="text" placeholder="Last Name" ng-model="user.lastName" required>
</label>

            <label class="item item-input" ng-class="{ 'has-errors' : registerForm.phoneNumber.$invalid && registerForm.$submitted}">
<input name="phoneNumber" type="text" placeholder="Phone Number" ng-model="user.phoneNumber" required>
</label>

            <label class="item item-input" ng-class="{ 'has-errors' : registerForm.location.$invalid && registerForm.$submitted}">
<input name="location" type="text" placeholder="Location" ng-model="user.officeLocation" required>
</label>

            <label class="item item-input" ng-class="{ 'has-errors' : registerForm.website.$invalid && registerForm.$submitted}">
<input name="website" type="text" placeholder="Website" ng-model="user.website" required>
</label>

            <label class="item item-input">
<input type="email" placeholder="Email" name="email" ng-model="user.email" required>
</label>

            <label class="item item-input">
<input type="password" placeholder="Password" name="password" ng-model="user.password" required show-hide-input>
</label>
            <label class="item item-input">

<textarea rows="6" name="brief_intro" ng-model="user.description">

</textarea>
</label>

            <button class="button button-block button-energized" type="submit">Submit! </button>

</form>
            <!--    <label class="item item-input" ng-class="{ 'has-errors' : registerForm.password.$invalid && registerForm.$submitted}">-->
            <!--<input name="password" type="password" placeholder="Password" ng-model="user.password" required>-->
            <!--</label>-->
            <!--<img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">-->
            <!--<img ng-show="imgURI === undefined" ng-src="http://placehold.it/100x100">-->
            <!--<button class="button button-block button-calm" ng-click="takePicture()">Take Picture</button>-->
            
            <!--<button class="button button-block button-stable" ng-click="choosePhoto()">Choose Picture</button>-->


            <!--<br>-->


<button class="button button-energized" ng-click="addImage()">
	  Add image
  </button><br><br>
  <ion-scroll>
	  <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px"/>
  </ion-scroll>



    </ion-content>
</ion-view>