<ion-tabs class="tabs-light tabs-color-positive tabs-icon-top">    
    
    
    <ion-tab title="lobby" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ui-sref="tabs.lobby">
                  <ion-nav-view name="lobby"></ion-nav-view>

  </ion-tab>

  <ion-tab title="events" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ui-sref="tabs.events">
                  <ion-nav-view name="events"></ion-nav-view>

  </ion-tab>

  <ion-tab title="doctors" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="tabs.doctors">
                  <ion-nav-view name="doctors"></ion-nav-view>
  </ion-tab>

<ion-tab title="profile" icon-on="ion-android-contact" icon-off="ion-android-contact" ui-sref="tabs.profile">
                  <ion-nav-view name="profile"></ion-nav-view>
  </ion-tab>


</ion-tabs>

<!--<ion-tabs class="tabs-stable tabs-icon-top">-->
<!--        <ion-tab title="Events" icon="ion-map" ui-sref="index.events">-->
<!--            <ion-nav-view name="events"></ion-nav-view>-->
<!--        </ion-tab>-->
<!--        <ion-tab title="Doctors" icon="ion-chatboxes" ui-sref="index.doctors">-->
<!--            <ion-nav-view name="doctors"></ion-nav-view>-->
<!--        </ion-tab>-->
        